

{% extends "crudapp/base.html" %}

{% block content1 %}

    <div clas="row ">
        <div class="col-6 offset-3">
            <form action="" method="post" novalidate >
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <span class='errorstyle'>{{error}}</span>
                {% endfor %}
                {% endif %}
                <br>

                {% for field in form %}
                  {{field.label_tag}}
                  {{field}}
                  <div>
                    {% for error in field.errors %}
                      <small class="errorstyle">{{error|striptags}}</small>
                    {% endfor %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-success mt-3 ">
            <a href="{% url 'show' %}" class=" btn btn-success mt-3"> Back to All students</a>
            </form>



</div>
</div>

{% endblock content1 %}
